#page-numbers {
  list-style: none;
  display: flex;
}

#page-numbers > li {
  color: #030303ee;
  font-weight: bolder;
  cursor: pointer;
  border: 1px whitesmoke solid;
  border-radius: 10%;
  background-color: rgba(245, 245, 245, 0.863);
  padding: 5px 10px;
  margin-right: 5px;
  box-shadow: whitesmoke 2px 2px 3px;
  font-family: Anakin;
}

